#movie.grid {
	margin-left: auto;
	margin-right: auto;
	width: 25em;
}

body{
	background: radial-gradient(red, green, yellow); /* Standard syntax */
}

h1.titleHead, p.blockTextFooter {
	margin-right: auto;
	margin-left: auto;
	width: 10em;
	display: block;
}

h1 {
	font-family: "Arial", Times, serif;
}

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 75%;
}